// features/combo-builder/components/MoveList/MoveList.scss
@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.move-list {
  height: 100%;
  overflow-y: auto;
  max-height: 500px;

  &__empty {
    text-align: center;
    padding: map-get($spacing, '4');
    color: var(--color-text-secondary);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: map-get($spacing, '3');

    @include responsive(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}